<div class="media">
  <img src="..." class="Logo-servicio-tec.jpg" alt="...">
  <div class="media-body">
    <h5 class="mt-0">¿Que es Mercy Developer?</h5>
    <p>Esta es una nueva compañia que se encarga de dar los servicios Tecnicos Informaticos que cuales son:</p>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Instalacion de Sistemas Operativos</h5>
      <p class="card-text">Se trata sobre la instalacion de aplicaciones que nos permite manipular los elementos y los programas de tu computadora para...</p>
          <a href="#" class="btn btn-primary">Ver mas</a>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Instalacion de Software de Oficina</h5>
      <p class="card-text">Se trata de instalar de los componentes externos de tu computadora como ejemplo la instalacion de un Disco duro, ventilacion, refrigerante y...</p>
          <a href="#" class="btn btn-primary">Ver mas</a>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Reparacion de computadoras</h5>
      <p class="card-text">La reparacion de computadora es cuando el tecnico empieza a analizar los problemas externos y/o internos de tu Laptop o tu Torre para luego empezar con el mantenimiento.</p>
          <a href="#" class="btn btn-primary">Ver mas</a>
    </div>
  </div>
</div>